$primaryColor: #FF3D00;

ion-content{
    .cont-icon{
        padding: 0;
        margin: 15px 5px 0 10px;
        text-align: end;
        ion-icon{
            font-size: 32px;
            font-weight: 100;
        }
    }

    .cont-text{
        padding: 0;
        text-align: start;
        h2 {
            margin-left: 15px;
            font-family: 'system-ui';
            font-weight: 400;
            color: #746A96;
        }
    }
}

ion-header {
    height: 30%;

    ion-toolbar{
        height: 100%;
        width: 100%;
        background-color: #cacaca;
        --border-width: 0 0 0;

        ion-title {
            height: 100%;
            margin: 0 auto;
            text-align: start;
            position: relative;
            font-size: 48px;
            color: $primaryColor;
            font-family: 'system-ui';
            letter-spacing: -29;
            font-weight: 100;
        }

        @media (min-width: 600px) {
            ion-title {
                padding: 5% 0 0 15px;
            }
        }

        @media only screen and (max-width: 600px) {
            ion-title {
                padding: 20% 0 0 15px;
            }
        }
        
    }
}